body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 600px;
    height: 650px;
};

.header {
    display: flex;
    height: 50px;
    width: 600px;
    justify-content: center;
    align-items: center;
};

.grid-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 600px;
    width: 600px;
    justify-content: center;
    align-items: center;
};

