* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
}

#sketch-area {
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    background-color: white;
}

.grid-square {
    display: flex;
    border: 1px solid white;
}

.buttons {
    display: flex;
    width: 600px;
    justify-content: space-between;
    margin: 25px auto;
}

#grid-size {
    background-color: rgba(229, 255, 0, 0.158);
    font-size: 25px;
}

#grid-show {
    background-color: rgba(51, 39, 39, 0.26);
    font-size: 25px;
}

#grid-remove {
    background-color: rgba(51, 39, 39, 0.26);
    font-size: 25px;
}

#reset {
    background-color: rgba(255, 0, 0, 0.529);
    font-size: 25px;
}